#postbody {
	display: inline-block;
	color: black;
	font-weight: bold;
	width: 640px;
	text-align: left;
}

#post {
	display: inline-block;
	background-color: #ffffff;
	padding: 25px 25px;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	margin-left: 16%;
	border: 1px solid #ffffff;
	border-radius: 25px;
}

.posttitle {
	color: #fbc32c;
	margin: 0px;
}

.postdetails {
	font-size: 0.9em;
	margin-top: 0px;
	margin-bottom: 20px;
}

.postcontent {
	text-align: justify;
	font-size: 1.04em;
	margin-top: 5px;
	margin-bottom: 10px;
}

hr {
	border-color: grey;
	margin: 15px 0px;
}

.postimage {
	border: 8px outset #fbc32c;
}

.postlink {
	text-decoration: none;
	color: #6694de;
}

.postlink:hover {
	color: #fbc32c;
}

.postlist {
	margin-top: -12px;
}

.postlisttitle {
	margin-bottom: 8px;
}

.postlistitem {
	text-align: justify;
	font-size: 1.0320em;
	margin-bottom: 8px;
}

#posterinfobody {
	width: 100%;
	display: inline-block;
}

#posterinfodescription {
	position: relative;
	top: 1.250em;
	padding: 5px;
	font-size: 0.9em;
	float: left;
}

#posterinfoimg {
	display: inline-block;
	border: 8px solid #fbc32c;
	border-radius: 180px;
	float: left;
}

p {
	margin: 3px;
}

